<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Sorting Suite" parallel="tests" thread-count="5">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Algo-1">
        <parameter name="algo" value="1"/>
        <classes>
            <class name="tests.AlgoParallelTest"/>
        </classes>
    </test>

    <test name="Algo-2">
        <parameter name="algo" value="2"/>
        <classes>
            <class name="tests.AlgoParallelTest"/>
        </classes>
    </test>

    <test name="Algo-3">
        <parameter name="algo" value="3"/>
        <classes>
            <class name="tests.AlgoParallelTest"/>
        </classes>
    </test>

    <test name="Algo-4">
        <parameter name="algo" value="4"/>
        <classes>
            <class name="tests.AlgoParallelTest"/>
        </classes>
    </test>

    <test name="Algo-5">
        <parameter name="algo" value="5"/>
        <classes>
            <class name="tests.AlgoParallelTest"/>
        </classes>
    </test>

</suite>